/* Layout Stylesheet */ 

/*
Margin and padding both zero to eliminate borders on the webpage.
Background color set to the same as RH column to extend the color 
all the way down to the bottom of the page.
*/
body
{
 	margin: 0;
 	padding: 0;     
 	background-color: #D8D8D8;
}

/*
Height of header set to auto. This allows the header to be only as
big as needed to accommodate the text.
Width set to 100% to encompass the whole webpage.
Margin and padding set to 0 to eliminate borders on the webpage.
Border only set on south edge.
*/
#hdr
{
 	height: auto;
	width: 100%;
 	margin: 0;
 	padding: 0;
	border: solid #333333;
 	border-width: 0 0 2px 0;
 	background-color: #C0C0C0;
}
     
/*
Width set to 70% (70% of webpage).
Floats left.
Border only set on east edge.
Padding set to 40px so text won't be next to page margin.
*/
#lh-col
{
 	width: 70%;
 	float: left;
 	border: solid #333333;
 	border-width: 0 2px 0 0;
 	background-color: #E8E8E8;
 	margin: 0;
 	padding: 40px;
 	font-family: "Garamond";
}

/*
Floats left (nex to LH column).
Padding set to 20px so text won't be nex to page margin.
*/
#rh-col
{
	float: left;
	margin: 0;
	padding: 20px;
 	background-color: #D8D8D8;
 	font-family: "Garamond";
}
 
#a 
{
	list-style-type: square;
}

#b
{
	list-style-type: disc;
}

#c
{
	list-style-type: circle;
}

/*
Image is set 2% of page width from left margin.
*/
img 
{
	position:absolute;
	left: 2%;
}

h1, h2 
{
	font-family: "Lucida Console";
	text-align: center;
}

h3
{
	font-family: "Garamond";
	font-size: 22px;
	text-decoration: underline;
}

.inputtext 
{ 
	width: 250px; 
	height: 100px;
}

.accordionButton 
{	
	width: 90%;
	height: 40px;
	margin: 5px;
	padding-left: 10px;
	float: left;
 	background-color: #C0C0C0;
	cursor: pointer;
	
	font-family: "Garamond";
	font-size: 22px;
	text-decoration: underline;
	font-weight: bold;
}

.accordionContent
{
	width: 90%;
	float: left;
}
